src/*.exe
src/iloveyoucoins
src/iloveyoucoinsd
src/test_iloveyoucoins
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.iloveyoucoins

# Compilation and Qt preprocessor part
*.qm
Makefile
iloveyoucoins-qt
ILoveYouCoins-Qt.app

# Unit-tests
Makefile.test
iloveyoucoins-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
